* {
	box-sizing: border-box;
}

body {
	background-color: rgb(16, 16, 16);
	margin: 0px;
	padding: 0px;

	color: white;

	width: 100vw;
	height: 100vh;

	position: relative;
	overflow: hidden;

	font-family: monospace;
	font-size: 16px;
}

body > .content {
	overflow: hidden;
}

body > .content > * {
	position: absolute;
	height: 100vh;
}

body > .content > .l {
	/*border: 2px solid green;*/
	width: 30%;
	border-right: 2px solid rgb(12, 12, 12);
	background-color: rgb(36, 36, 36);
}

body > .content > .l > * {
	border: 2px solid rgb(128, 128, 128);
	border-top: 2px solid rgb(128, 128, 128);
	border-bottom: 8px solid rgb(128, 128, 128);
	padding: 1%;
	padding-top: 1px;
	padding-bottom: 3px;
	margin: 1%;
}

body > .content > .l > *:hover {
	border: 2px solid rgb(128, 128, 128);
	border-top: 4px solid rgb(128, 128, 128);
	border-bottom: 4px solid rgb(128, 128, 128);
	padding: 1%;
	padding-top: 2px;
	padding-bottom: 2px%;
}

body > .content > .l > *:active {
	border: 2px solid rgb(128, 128, 128);
	border-top: 6px solid rgb(100, 100, 100);
	border-bottom: 2px solid rgb(128, 128, 128);
	padding: 1%;
	padding-top: 3px;
	padding-bottom: 1px;
}

body > .content > .r {
	/*border: 2px solid yellow;*/
	width: 70%;
	left: 30%;
}

body > .content > .r > * > p {
	margin-left: 5%;
	max-width: 60%;
	word-break: break-word;
}